.citySelector {
	& > div {
		display: block!important;
	}
	.form-control {
		width: 100%;
	}
	.dropdown {
		border-radius: 0 0 5px 5px;
		overflow: hidden;
		position: absolute;
		z-index: 1000;
		max-height: 400px;
		overflow-y: auto;
		&--list {
			margin: 0;
			padding: 0;
			background: white;
			list-style: none;
		}
		&--option {
			cursor: pointer;
			padding: 3px 10px;
			background-color: #ECF0F1;

			&-highlighted,
			&:hover {
				background-color: #3498DB;
				color: white;
			}
		}
	}
}